extends layout.pug

block content
    nav.grid-container.portfolio-breadcrumb
      a(href='/index') â† Back to projects
    article.grid-container.portfolio-intro.portfolio-project
      .grid-x
        .cell.small-6.medium-9.large-9

          h1= project.project_name

          p.lead.text-light
          p= project.description

        .cell.portfolio-meta.small-6.medium-2.large-3
        
          h6(class= 'techno') Technologies

          ul
            each technology in project.technologies
              li(class= 'techno')= technology
          a.button(target="_blank" class='link_url' href=`${project.live_link}`) Live Demo
          br
          a.button(target="_blank" class='link_url' href=`${project.github_link}`) GitHub Repo

        each url, index in project.image_urls
          if index > 0 
            img.thumbnail(class= 'project_pic' src=`${project.image_urls[index]}` width='1200' height='550')
    
